body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navBar img {
  width: 130px;
  padding: 30px;
} */

.navBar {
  height: 50px;
  display: flex;
  background-color: white;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
}

.starImg {
  height: 14px;
}

.card--image {
  border-radius: 9px;
  width: 100%;
}

.cardStats {
  display: flex;
  align-items: center;
}

.cardsContent {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;  /* remember */
  gap: 20px;
  overflow-x: auto; /* remember */
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--badge {
  background-color: white;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}